<div>
  <% @matches.each do |match| %>
    <% if match[:did_win] %>
      <div>
        <div class="border border-black rounded-3xl text-green-300">
          Victory
        </div>
      </div>
    <% else %>
      <div class="border border-black rounded-3xl text-red-300">
        Defeat
      </div>
    <% end %>
  <% end %>
</div>