<div>
  <div>Top Page</div>
  <div>
    <%= form_with url: league_of_legends_summoners_path, method: :post do |f| %>
      <%= f.text_field :name, placeholder: 'player name + #NA1' %>
    <% end %>
  </div>
</div>
